@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#overlay12345 {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 999999998;
    background: rgb(38, 37, 37);
    color: black;
    opacity: 0.5;
}

#content12345 {
    border-radius: 15px;
    border: 0.6em ridge #a64942;
    background-color: #1d1d1d;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 999999999;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: #EDEDED;
    font-family: 'Inter', sans-serif;
}

#title12345 {
    margin: 5px;
    font-size: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #EDEDED;
}

#paragraph12345
{
    font-size: 16px;
}

#userInput12345 {
    outline:0; 
    background-color: #EDEDED;
    color: #2E2C2A;
    height: 40px;
    width: 400px;
    margin: 10px;
    padding: 3px 8px;
}