@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#popup-safe {
  font-family: 'Inter', sans-serif;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 400px;
  border: 1em ridge #577d43;
  background-color: #1d1d1d;
  background-size: cover;
  position: absolute;
  z-index: 10000000;
  border-radius: 12px;
  padding: 20px;
  opacity: 1;
}

#superTitle {
  font-size: 25px;
  font-weight: 900;
  color: white;
  margin-bottom: -10px;

}

#paragraph123456 {
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin: 0px;
}

#moreInfo {
  border-radius: 7px;
  border: 0.7px solid rgb(255, 255, 255);
  font-weight: 700;
  background-color: #212121;
  color: white;
  overflow: hidden;
  z-index: 1;
  padding: 3px;
  width: 100%;
}

#moreInfo:hover{
opacity: 0.6;
cursor: pointer;
}