@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-image: url('../images/synth.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    color: #ededed;
}

.content {
    position: absolute;
    left: 50%;
    top: 37%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

#interaction {
    padding: 20px 40px;
    width: 100%;
    filter: drop-shadow(0px 0px 20px #8000FF);
    box-shadow: 0px 0px 20px #8000FF inset;
    background-image: url("../images/background.jpg");
    border: 2.5px solid #AB56FF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade 5s linear;
}


#hulioLogo {
    width: 75%;
    margin-bottom: 0px;
    animation: fade 2s linear;
}

button {
    border-radius: 5px;
    border: 0 solid rgba(0, 0, 0, 0);
    font-weight: 500;
    /*background-image: linear-gradient(to right, #3e0459 0%, #7d2ba4 51%, #530676 100%);*/
    background-image: linear-gradient(to right, #101010 0%, #232323 51%, #101010 100%);
    color: #EDEDED;
    position: relative;
    z-index: 1;
    margin: 11px;
    padding: 12px 20px;
    width: 100%;
    font-weight: 900;
    font-size: 15px;
    border: 1px solid #AB56FF;
    filter: drop-shadow(0px 0px 7px #8000FF);
    box-shadow: 0px 0px 7px #8000FF inset;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#welcome {
    animation: fade 7s linear;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
}

#introParagraph {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    width: 95%;
    animation: fade 9s linear;
}

#tutorials {
    animation: fade 10s linear;
}

#projects {
    animation: fade 10.5s linear;
}

#configure {
    animation: fade 11s linear;
}


@keyframes fade {
    0% {
        opacity: 0
    }

    30% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}